.list-item {
	display: grid;
    grid-template-columns: 1fr 1fr;
	padding: 0 1rem;
	border-radius: 8px;
	background: #2b383f;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.26);
	font-size: 1rem;
	color: #fff8d0;
	font-weight: bold;
	cursor: pointer;
}

.list-item__left {
	flex-wrap: wrap;
	place-self: start;
    align-self: center;
    margin: 0 .4em;
	font-size: 1.6rem;
}
.list-item__left::first-letter {
    text-transform: uppercase;
}

.list-item__right{
    display: grid;
    grid-template-columns: 1fr 1fr .1fr;
    justify-items: space-between;
    grid-column: 2 / span 4;
	flex-wrap: nowrap;
	font-size: 1.4rem;
}

.unit-amount {
    place-self: center;
}

.item-buttons {
    display: flex;
    gap: .2rem;
    align-items: center;
    justify-self: center;
    padding: 1em;
}

.remove-button {
    grid-column: 3;
    max-height: 50%;
    max-width: 70%;
    align-self: center;
    justify-self: end;
}

.list-item button {
	flex-shrink: 1;
	font-size: 1.2rem;
	box-shadow: 1px 1px rgba(0, 0, 0, 0.1);
	max-width: 6em;
	border-radius: 6px;
	font-weight: bold;
	border: 0.1rem solid #0e1614;
}
