.list-item {
	display: grid;
    grid-template-columns: 1fr 1fr;
	padding: 0 1rem;
	border-radius: 2rem;
	background: var(--secondary-color);
	box-shadow: 2px 2px rgba(0, 0, 0, 0.26);
	font-size: 0.5rem;
	color: var(--default-black);
	font-weight: 600;
	margin: 0.5rem 1rem 0.5rem 1rem;
}

.list-item:hover {
	transition: all 0.2s ease-in-out 0.1s;
	background: var(--secondary-color-shadow);
}

.list-item__left {
	flex-wrap: wrap;
	place-self: start;
    align-self: center;
    margin: 0 .4em;
	font-size: 1rem;
}
.list-item__left::first-letter {
    text-transform: uppercase;
}

.list-item__right{
    display: grid;
    grid-template-columns: 1fr 1fr .1fr;
    justify-items: space-between;
    grid-column: 2 / span 4;
	flex-wrap: nowrap;
	font-size: 1rem;
}

.unit-amount {
    place-self: center;
}

.item-buttons {
    display: flex;
    gap: .2rem;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.button-container.remove-button {
    grid-column: 3;
    align-self: center;
	background-color: var(--default-white);
	border: 0.1rem solid #0e1614;
	width: 3rem;
	height: 1.5rem;
}
.button-container.remove-button:hover {
	transition: all 0.2s ease-in-out 0.1s;
	background: var(--red);
}

.button-container.adjust-amount-button {
	border: 0.1rem solid #0e1614;
	background-color: var(--default-white);
	width: 3rem;
	height: 1.5rem;
}

.button-container.adjust-amount-button:hover {
	background-color: var(--all-white);
}