.dropdown-toggle {
    background: var(--default-white);
    box-shadow: none;
    border: 0.05rem solid #0e1614;
    border-radius: 0.3rem;
    min-width: 11rem;
    height: 1.5rem;
}

.dropdown-toggle:hover {
    background: var(--all-white);
}

.dropdown-menu {
    border: 0.05rem solid #0e1614;
    padding-inline-start: 0;
    width: fit-content;
    height: fit-content;
}

.dropdown-menu-item {
    list-style: none;
    background: var(--default-white);
    box-shadow: none;
    border-radius: 0;
    min-width: 10.9rem;
    height: 1.5rem;
    padding-left: 0.5rem;
    margin-right: 0;
    z-index: 2;
}

.dropdown-menu-item:hover {
    background: var(--all-white);
}