.navBar{
    width: 100%;
    height: 100px;
    background-color: var(--secondary-color);
    display: flex;
}

img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
} 

.leftSide__container{
    display: flex;
    flex: 30%;
    align-items: center;
    padding-left: 5%;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
}

.rightSide__container{
    display: flex;
    flex: 70%;
    justify-content: flex-end;
    padding-right: 5%;
}

#shopping__cart{
    height: 50px;
}

#ninja__logo{
    height: 70px;
    padding-right: 10%;
    padding-bottom: 10px;
}