.search-result-item {
	box-shadow: none;
	padding-bottom: 0;
}

.product-display {
	padding-inline-start: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.product-display > * {
	display: block;
	border: 0.1rem solid #0e1614;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	padding-left: 0.75rem;
	border-radius: 0.3rem;
	background: var(--secondary-color-extra-light);
}

.product-display > *:hover {
	background-color: var(--all-white);
	transform: scale(1.002);
}

.product-information > * {
	font-size: 1rem;
	font-weight: 600;
}

.product-price {
	/* float: right;
	padding-right: 0.75rem; */
	/* font-weight:700; */
	color: var(--green);
}

.organic-logo {
	width: 3rem;
}

.product-image {
	max-width: 5rem;
	height: 5rem;
	float: right;
	padding-right: 0.75rem;
	overflow: hidden;
}

@media screen and (max-width: 768px) {
	.product-image {
		width: 4rem;
		height: 4rem;
	}
}
