.banner{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0px auto;
    height: 26rem;
    background: var(--tertiary-color);
    background: linear-gradient(var(--tertiary-color), var(--tertiary-color-light));
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .banner:hover {
    background-color: var(--tertiary-color-light);
    transition: all 0.2s ease-in-out 0.1s;
  }

  

  .background-image{
    width: 100%;
    opacity: 0.4;
  }
  
  #ninja-landing {
    width: 80px;
    color:var(--ninja-skin-color);
  }
  
  #ninja-rightside {
    width: 70px;
    color:var(--ninja-skin-color);
    padding-left: 0.5rem;
  }