<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="EndpointUri" value="https://projekt4.documents.azure.com:443/" />
    <add key="PrimaryKey" value="w9VxhkHHroWwTcoFvOSa4GJRjPMG7iDueTUQPmFnV4ChzPwmSpZDychcRWeH8RsRiZGgQMj86q9GzOVR5VyxiQ==" />
  </appSettings>
</configuration>