.page-not-found {
    height: auto;
	min-height: 100vh;
    /**centering**/
    position: relative;
    text-align: center;
}

.page-not-found > * {
  /* Center vertically and horizontally */
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-weight: 700;
}

#ninja {
    width: 300px;
    position: absolute;
    left: 120%;
}

#error-number {
    font-size: 9rem;
    font-weight: 700;
}

p {
    font-size: 1.25rem;
    color: rgb(56, 56, 56);
    margin-top: 3%;
    font-weight: 200;
}

@media screen and (max-width: 1400px) {
    .page-not-found > * {
        /* Center vertically and horizontally */
        position: absolute;
        top: 45%;
        left: 47%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        font-weight: 700;
      }

    #ninja {
        width: 250px;
        left: 110%;
    }
}

@media screen and (max-width: 992px) {
    .page-not-found > * {
        /* Center vertically and horizontally */
        position: absolute;
        top: 30%;
        left: 47%;
        transform: translate(-50%, -50%);
        font-size: 4rem;
        font-weight: 700;
      }

    #ninja {
        width: 250px;
        left: 10rem;
        top: 30rem;
    }
}