.search-results-page {
  background-color: var(--primary-color);
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 80vh;
}

.results-container{
    width: 40%;
    min-height: 50vh;
    background-color: var(--secondary-color);
}

.search-results-page-button {
    margin: auto;
    margin-top: 2rem;
}

.dropdown-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 1rem;
    position: relative;
    z-index: 1;
    overflow: visible;
    padding-right: 2rem;
}

.search-results-page .search-results-item{
    transition: transform .2s;
}

.search-results-page .search-results-item:hover {
    transform: scale(1.01);
}

.search-results-page-text-box {
    margin: auto;
    width: 41%;
    padding: 1rem;
    color: var(--all-white);
}

.search-results-page-text-box a {
    cursor: pointer;
    text-decoration: underline;
}

.search-results-not-found {
    display:flex;
    flex-direction: row;
    justify-content: center;
}


.search-results-not-found .text-wrapper{
    color: var(--all-white);
    width: 40%;
    margin-right: 1rem;
}

.search-results-not-found .image-wrapper {
    width: 40%;
}

.search-results-not-found .text-wrapper >*{
    margin-bottom: 1rem;
}

.search-results-not-found a {
    cursor: pointer;
    text-decoration: underline;
}


@media screen and (max-width: 1700px) {
	.results-container {
		width: 50%;
	}
    .search-results-page-text-box {
        width: 51%;
    }
}

@media screen and (max-width: 1400px) {
	.results-container {
		width: 60%;
	}
    .search-results-page-text-box {
        width: 61%;
    }
}

@media screen and (max-width: 1200px) {
	.results-container {
		width: 70%;
	}
    .search-results-page-text-box {
        width: 71%;
    }
    .search-results-not-found .image-wrapper > img {
        width: 80%;
    }
}

@media screen and (max-width: 992px) {
	.results-container {
		width: 85%;
	}
    .search-results-page-text-box {
        width: 86%;
    }
}

@media screen and (max-width: 768px) {
    .results-container {
		width: 90%;
	}
}

@media screen and (max-width: 576px) {
    .dropdown-menu-container {
		padding-right: 0;
	}
    .search-results-not-found .image-wrapper {
        width: 0%;
    }
    .search-results-not-found .text-wrapper {
        width: 100%;
        margin-left: 1rem;
    }
}

@media screen and (max-width: 406px) {
    .results-container {
		width: 95%;
	}
}