
#root{
  --primary-color: rgb(44, 46, 51);
  --secondary-color: #FFD64F;
  --tertiary-color: #47887a;
  --tertiary-color-light: #75afa3;
  --quartenary-color: rgb(30, 83, 53);
  --default-white: rgb(238, 235, 235);
  --secondary-color-shadow: rgb(233, 225, 111);
  --default-black: rgb(37, 37, 37);
  --red: rgb(170, 0, 0);
  --ninja-skin-color: bisque;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
