@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

#root{
  --primary-color: #2c2e33;
  --secondary-color: #FFD64F;
  --secondary-color-light: #ffe89e; 
  --secondary-color-extra-light: #f7edcc;
  --tertiary-color: #47887a;
  --tertiary-color-light: #75afa3;
  --quartenary-color: #324ca2;
  --quartenary-color-light: #4f78ff;
  --quartenary-color-extra-light: #7fb8ff;
  --default-white: rgb(241, 241, 241);
  --all-white: #fff;
  --default-black: rgb(37, 37, 37);
  --red: rgb(192, 48, 48);
  --green: rgb(30, 155, 30);
  --green-light: rgb(0, 255, 0);
  --ninja-skin-color: #ffe4c4;

/*Media query breakpoints*/
  --xs: 0;
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1400px;
}

a {
  color: var(--default-white);
  text-decoration: none;
}

a:visited {
  color: var(--default-white);
  text-decoration: none;
}

*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace, 'Kalam';
}
