
#root{
  --primary-color: #1a2226;
  --secondary-color: #ebde2e;
  --tertiary-color: #47887a;
  --quartenary-color: rgb(30, 83, 53);
  --default-white: rgb(238, 235, 235)
}

*{
  box-sizing: border-box;
  margin: 0;
}

html {
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
