.search-results{
    padding-top: 100px;
    min-height: 100vh;
    background-color: var(--default-black);
}

.search-results__container {
    
    display: flex;
    flex-direction: row;
    max-width: 70rem;
    margin-inline: auto;
}