.shopping-option {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-color: whitesmoke;
    height: 95%;
	border-radius: 14px;
    grid-column: 2;
}

.store {
    font-weight: bold;
    font-size: 30px;
}

.price_distance {
    display: flex;
    flex-direction: row;
}

.price {
    margin: auto;
    text-align: left;
}

.distance {
    margin: auto;
    text-align: right;
}

.products {
    margin-top: 5rem;
}