.footer {
	position: relative;
   color: white;
	bottom: 0;
	width: 100%;
	background-color: var(--default-black);
	text-align: center;
}

.footerLink {
	color: white !important;
	padding-top: 4rem;
	color: var(--default-white);
}
.footerLink a {
   color: var(--default-white);
   font-style: normal;
}

.footerText {
	color: white;
	font-size: 1rem;
	margin-top: 0.6rem;
	padding-bottom: 5rem;
}
