.search-button {
	margin:auto
}

#search-button {
    max-width: 10em;
	width: 255px;
	height: 34px;
	border-radius: 6px;
	font-weight: bold;
    font-size: 0.75rem;
	border: none;
	border-radius: 1rem;
	background-color: var(--secondary-color);
	cursor: pointer;
    margin-bottom: 1rem;
}