

.searchButton {
    margin: auto;
    width: 150px;
    height:30px;
    padding-top: 40px;
}

#search-button {
    max-width: 10em;
	width: 255px;
	height: 34px;
	border-radius: 6px;
	font-weight: bold;
    font-size: 0.75rem;
	border: none;
	border-radius: 1rem;
	background-color: var(--secondary-color);
	cursor: pointer;
}

#search-button:hover {
    background-color: var(--secondary-color-shadow);
    transition: all 0.2s ease-in-out 0.1s;
}
