.shopping-list{
    background-color: var(--primary-color);
    min-height: 50vh;
    height: auto;
    width: 35%;
    margin: auto;
    padding:0;
    margin-top: 1rem;
    border-radius: 12px;
    margin-bottom: 4rem;
    box-shadow: 4px 6px rgba(22, 22, 22, 0.26);
}

.shopping-list ul{
    padding: .4rem .4rem;
}


@media screen and (max-width: 1400px){
	.shopping-list{
		width: 60%;
	}
}

@media screen and (max-width: 1000px){
	.shopping-list{
		width: 80%;
	}
}