.shopping-option {
    width: 21rem;
    height: auto;
    margin: auto;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
    background-color: var(--secondary-color);
    text-align: center;
    border-radius: 1rem;
}

.store {
    font-weight: bold;
    font-size: 30px;
}

.price_distance {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: row;
}

.price {
    margin: auto;
}

.distance {
    margin: auto;
}

.products {
    background-color: var(--secondary-color-shadow);
    padding-top: 0.1rem;
    padding-bottom: 0.8rem;
    margin: 1rem;
    border-radius: 1rem;
    font-size: small;
}

.product-line {
    display: flex;
    flex-direction: row;
}

.product-name {
    margin-bottom: 0.4rem;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    padding-left: 1rem;
}

.product-name2 {
    font-size: x-small;
    font-style: oblique;
}

.product-price {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
    padding-right: 1rem;
    padding-bottom: 0.8rem;
}