.add-item-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 1rem auto;
	margin-top: 2rem;
	width: 35%;
	padding: 0;
	padding-top: 2rem;
	font-size: 1rem;
	background: var(--primary-color);
	border-radius: 12px;
	box-shadow: 4px 6px rgba(22, 22, 22, 0.26);
}

.add-item-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55%;
	max-width: 85%;
}

.add-item-form input {
	align-items: center;
	font-size: 1rem;
	height: 2.1rem;
	outline: none;
	border-radius: 6px;
	border: none;
	padding: 0.5rem;
	/* margin-bottom: 1rem; */
	background: var(--default-white);
}

.unit-organic-switch {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
	max-width: 100%;
	gap: 2rem;
}

.amount-input {
	height: 2.6rem !important;
	width: 100%;
	margin: 0.4rem;
	padding: 0.4rem;
}

.add-item-button {
	margin: 1rem 3rem 1rem 3rem;
	padding: 0;
	background-color: var(--quartenary-color-light);
	color: var(--default-white);
}

.add-item-button:hover {
	background-color: var(--quartenary-color-extra-light);
} 

@media screen and (max-width: 1300px) {
	.add-item-container {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {
	.add-item-container {
		width: 80%;
	}
}

@media screen and (max-width: 576px) {
	.add-item-container {
		margin-top: 0.8rem;
		margin-bottom: 0.8rem;
		width: 97%;
	}

	.amount-input {
		height: 2.6rem !important;
		width: 120%;
		margin: 0.4rem;
		padding: 0.4rem;
	}
}

.error-message-empty-search-field {
	color: var(--red);
	font-size: rem;
}

.add-item-form.invalid input {
	border: 2px solid var(--red);
	background-color: var(--secondary-color-shadow);
}

.input-amount-field.invalid {
	border: 2px solid var(--red);
	background-color: var(--secondary-color-shadow);
}
