.add-item-form {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	margin-top: 2rem;
	width: 35%;
	padding: 0;
	padding-top: 2rem;
	font-size: 1rem;
	background: var(--primary-color);
	align-items: center;
	border-radius: 12px;
	box-shadow: 4px 6px rgba(22, 22, 22, 0.26);
}

.add-item-form input {
	font-size: 1rem;
	height: 2.25rem;
	outline: none;
	border-radius: 6px;
	border: none;
	padding: 0.5rem;
	/* margin-bottom: 1rem; */
	max-height: 35%;
	background: var(--default-white);
	max-width: 100%;
}

.form-units {
	justify-content: center;
}

.item-amount {
	width: 3rem;
	margin: 0.2rem 0.4rem 0 0.2rem;
}

.add-item-button {
	margin: 1rem 3rem 1rem 3rem;
	padding: 0;
}

@media screen and (max-width: 1400px) {
	.add-item-form {
		width: 60%;
	}
}

@media screen and (max-width: 1000px) {
	.add-item-form {
		width: 80%;
	}
}

.error-message-empty-search-field {
	color: var(--red);
	font-size: rem;
}

.add-item-form.invalid input {
	border: 2px solid var(--red);
	background-color: var(--secondary-color-shadow);
}

.input-amount-field.invalid {
	border: 2px solid var(--red);
	background-color: var(--secondary-color-shadow);
}
