.search-results-list-item {
	box-shadow: none;
	border: 0.1rem solid #0e1614;
	background: var(--secondary-color-light);
	margin: 2rem;
	padding-left: 0;
	padding-right: 0;
	font-weight: 600;
}

.list-item-store-name {
	background-color: var(--quartenary-color);
	border-radius: 0.3rem;
	padding: 0 0.5rem 0.3rem 0.5rem;
	height: 1.5rem;
	font-size: 0.9rem;
	color: var(--all-white);
	margin-right: 1rem;
}
.store-name-red {
	background-color: var(--red);
}
.store-name-green {
	background-color: var(--green);
}

.list-item-price {
	padding-left: 1rem;
}

.list-item-price .total-price {	
	color: var(--green);
}

.list-item-address a {
	color: var(--default-black);
}

.list-item-wrapper {
	display: flex;
	flex-direction: row;
	box-shadow: none;
	background: var(--secondary-color-light);
	justify-content: space-between;
}

.chevron-button {
	background: var(--secondary-color-light);
	box-shadow: none;
	width: 50px;
	padding-bottom: 0.5rem;
}

.chevron-icon.rotate {
	transform: rotate(180deg);
}

.search-results-details {
	max-height: 0;
	overflow: hidden;
	transition: all 0.4s cubic-bezier(0, 1, 0, 1);
}

.search-results-details.show {
	height: auto;
	max-height: 100rem;
	transition: all 0.4s cubic-bezier(1, 0, 1, 0);
}

@media screen and (max-width: 576px) {
    .search-results-list-item {
		margin: 0;
		margin-top: 1.5rem;
	}
}
